In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/home/piyush/Documents/quora ml/input/input00.csv",header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,38,39,40,41,42,43,44,45,46,47
0,Nt8FJ,1,1,12087620705283,2,4.797982,3,1,4,4.990433,...,19,0,20,14,21,4.653960,22,0.0,23,0.0
1,VCaTF,1,1,282114466020,2,3.151926,3,1,4,3.737670,...,19,0,20,2,21,2.890372,22,0.0,23,0.0
2,gParY,1,1,173284955,2,1.785813,3,1,4,1.791759,...,19,0,20,6,21,3.637586,22,0.0,23,0.0
3,DtWDw,1,1,4708728355523,2,2.394989,3,1,4,3.091042,...,19,0,20,5,21,2.772589,22,0.0,23,0.0
4,4hUov,1,1,1459162488,2,2.002920,3,1,4,4.836282,...,19,0,20,7,21,2.397895,22,0.0,23,0.0

In [3]:
for i in df.columns:
    if i>0 and i%2==0:
        df.drop(i,inplace=True,axis=1)
df.drop([0,3,45,47,39],inplace=True,axis=1)
df.head()
##drop 39 because we find feature importance 0 in dec tree
##0,3 are drpped because all values are different

,1,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,41,43
0,1,4.797982,1,4.990433,6.492240,80.0,0.0,0.0,0,0,3.850148,0,1,0,0,1,1,0,14,4.653960
1,1,3.151926,1,3.737670,3.891820,83.0,0.0,0.0,1,0,2.564949,0,1,0,0,1,0,0,2,2.890372
2,1,1.785813,1,1.791759,1.945910,0.0,0.0,0.0,0,0,4.262680,2,1,0,0,1,0,0,6,3.637586
3,1,2.394989,1,3.091042,2.890372,0.0,0.0,0.0,0,0,4.804021,8,1,0,0,1,1,0,5,2.772589
4,1,2.002920,1,4.836282,4.158883,0.0,0.0,0.0,0,0,4.521789,10,1,0,0,1,0,0,7,2.397895

In [4]:
for i in df.columns:
    print(df[i].nunique())

2
2531
2
415
524
172
161
227
7
2
336
45
2
2
2
2
2
12
79
232

In [5]:
X = df.iloc[:,1:]
X.head()

,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,41,43
0,4.797982,1,4.990433,6.492240,80.0,0.0,0.0,0,0,3.850148,0,1,0,0,1,1,0,14,4.653960
1,3.151926,1,3.737670,3.891820,83.0,0.0,0.0,1,0,2.564949,0,1,0,0,1,0,0,2,2.890372
2,1.785813,1,1.791759,1.945910,0.0,0.0,0.0,0,0,4.262680,2,1,0,0,1,0,0,6,3.637586
3,2.394989,1,3.091042,2.890372,0.0,0.0,0.0,0,0,4.804021,8,1,0,0,1,1,0,5,2.772589
4,2.002920,1,4.836282,4.158883,0.0,0.0,0.0,0,0,4.521789,10,1,0,0,1,0,0,7,2.397895

In [6]:
y = df[1]
y.ndim

1

# RANDOM FOREST

In [9]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [10]:
rf = RandomForestClassifier()

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
rf.fit(X_train,y_train)
rf.score(X_train,y_train)

0.9852777777777778

In [13]:
rf.score(X_test,y_test)

0.8111111111111111

# LOGISTIC REGRESSION

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
lr = LogisticRegression()

In [16]:
lr.fit(X_train,y_train)
lr.score(X_train,y_train)

0.8241666666666667

In [18]:
lr.score(X_test,y_test)

0.8211111111111111

# SVM Classifier

In [20]:
from sklearn.svm import SVC

In [42]:
sv =SVC(kernel="linear",probability=True)

In [43]:
sv.fit(X_train,y_train)
sv.score(X_train,y_train)

0.8213888888888888

In [44]:
sv.score(X_test,y_test)

0.8133333333333334